In [4]:
getwd()

[1] "C:/Users/gpalghat006/Documents/GitHub/datasciencecoursera"

In [1]:
read.csv("test.csv", header = TRUE, sep=",")

  ID Name             Age Sex Address
1 1  John Doe         22  m   one rob street, GA
2 2  Mango Madayan    33  m   12 winder word, collingwood, ga, 30034
3 3  Srivats Gowswami 44  m   5 RN E23, UK
4 4  Dena Smith       55  f   33 George st, washington DC
5 5  Jane Doe         66  f   89 Marchicial st, toronto, Canada

In [16]:
x<-list(foo=1:4, bar=0.6, baz="hello")
x[c(1,3)]

$foo
[1] 1 2 3 4

$baz
[1] "hello"

In [15]:
x[["bar"]]

[1] 0.6